.exp-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.exp-left {
  display: flex;
  flex-direction: column;
}

.exp-line {
  flex: 1;
  border-top: 1px dashed var(--text-primary);
  margin: 0 1rem;
}

.exp-right {
  flex: 2;
}

.exp-company {
  font-size: 1.5rem;
  color: var(--accent);
}

.exp-year {
  font-style: italic;
}

.exp-position {
  font-weight: bold;
}

@media (max-width: 900px) {
  .exp-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .exp-left {
    margin-bottom: 1.5rem;
  }

  .exp-line {
    display: none;
  }
}